* {
  margin: 0;
  padding: 0;
}
:root {
  --card-height: 5rem;
  --card-width: 5rem;
  --card-color: #393e41;
  --card-hover-color: #2AFC98;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color);
  min-height: 100vh;
  flex-wrap: wrap;
}

.card {
  position: relative;
  height: var(--card-height);
  width: var(--card-width);
  border-radius: 25rem;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.5),
    inset -5px -5px 15px rgba(255, 255, 255, 0.15),
    5px 5px 15px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.1);

  background-color: var(--card-color);
  margin: 10px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 25rem;
  transition: 0.5s;
}

.card:hover::before {
  cursor: pointer;
  transform: translate(20px, -10px);
  background-color: var(--card-hover-color);
}

.card:nth-child(odd):hover::before {
  background-color: var(--card-hover-color);
}
